<div class="sixteen columns">
  <table class="index responsive" id="listing_orders" data-hook="">
    <thead>
    	<tr>
    		<th><%= Spree.t(:th_number) %></th>
    		<th><%= Spree.t(:th_address) %></th>
        <th><%= Spree.t(:th_order_state) %></th>
      </tr>
    </thead>
    <tbody>
    	<td><%= order.number %></td>
    	<td><%= order.bill_address %></td>
			<td>
				<% if order.state == "payment" %>
					<%= Spree.t(:os_payment) %>
				<% elsif  order.state == "cart"%>
					<%= Spree.t(:os_cart) %>
				<% elsif  order.state == "address"%>
					<%= Spree.t(:os_address) %>
				<% elsif  order.state == "delivery"%>
					<%= Spree.t(:os_delivery) %>
				<% elsif  order.state == "complete"%>
					<%= Spree.t(:os_completed) %>
				<% elsif  order.state == "confirm"%>
					<%= Spree.t(:os_confirmed) %>
				<% elsif  order.state == "cancled"%>
					<%= Spree.t(:os_canseled) %>
				<% elsif  order.state == "returned"%>
					<%= Spree.t(:os_returned) %>
				<% end %></td>
    </tbody>
  </table>
</div>    

