<div class="sixteen columns">
  <table class="index responsive" id="listing_orders" data-hook="">
    <thead>
    	<tr>
    		<th>Number</th>
    		<th>Address</th>
        <th>Order State</th>
      </tr>
    </thead>
    <tbody>
    	<td><%= order.number %></td>
    	<td><%= order.bill_address %></td>
			<td>
				<% if order.state == "payment" %>
					<%= "In Payment State"%>
				<% elsif  order.state == "cart"%>
					<%= "In Cart State"%>
				<% elsif  order.state == "address"%>
					<%= "In Address State"%>
				<% elsif  order.state == "delivery"%>
					<%= "In Delivery State"%>
				<% elsif  order.state == "complete"%>
					<%= "Completed" %>
				<% elsif  order.state == "confirm"%>
					<%= "Order Confirmed" %>
				<% elsif  order.state == "cancled"%>
					<%= "Order Canseled"%>
				<% elsif  order.state == "returned"%>
					<%= "Order Returned"%>
				<% end %></td>
    </tbody>
  </table>
</div>    

