<nav class="columns sixteen">
  <ul id="main-nav-bar" style="text-align:left;"class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    <li id="compare-link" data-hook><%= link_to Spree.t(:compare), spree.compare_product_path %></li>
     <li id="contact-link" data-hook><%= link_to Spree.t(:contact_us), spree.contact_us_path %></li>
     <li id="adout-link" data-hook><%= link_to Spree.t(:about_us), spree.about_us_path %></li
     <li id="track-link" data-hook>
     	<%= form_tag find_order_path, :method => :get, remote: true do %>
			  <%= text_field_tag :order_number,nil, :class => 'title', :placeholder =>"Order Number", :style => "height:10px;width: 60%;" %>
			<%= submit_tag "Find", :class => "small primary", :style => "padding: 1px;" %>
			<% end %>
		</li>
    <li id="link-to-cart" data-hook><%= link_to_cart %></li>
  </ul>
</nav>
