<ul id="main-nav-bar" style="text-align:left;"class="inline" data-hook>
  <li><%= link_to Spree.t(:home), spree.root_path %></li>
  <li><%= link_to Spree.t(:shop), spree.products_path %></li>
  <li><%= link_to Spree.t(:compare), spree.compare_product_path %></li>
  <li><%= link_to Spree.t(:contact_us), spree.contact_us_path %></li>
  <li><%= link_to Spree.t(:about_us), spree.about_us_path %></li>
</ul>
