
  <div id="available" class="well" style="margin-top: 10px;"> 
    
    <div id="">
    </div>    
    <div id="" style="">
      <%= form_tag check_avalability_path, :method => :get, remote: true, :id=> "" do %>
        <label>Check Availability</label>
        <%= text_field_tag :zipcode, nil, :placeholder =>"Enter Zipcode", :style => "margin-left: 25px;" %>
        <%= submit_tag "Submit", :class => "small primary", :style => "margin-left: 25px;" %>
      <% end %>
    </div>
  </div>


<div style="margin-top: 10px;">
  <label>Averate rating</label>
  <div id="star"></div>

  <% if spree_user_signed_in?%>
    <div class="user-rating">
      <label>Your rating</label>
      <div id="user_star"></div>
    </div>


    <div class="total-review-div">
       <label>Total Reviews</label><br>
       <div style="margin-left: 45px;"><%= @reviews %></div>
    </div>

    <div class="review-div"> 
      <label>Write Review</label>
      <div id="edit_icon"class="btnReview">
      </div>    
      <div id="add_review" style="display:none;">
        <%= form_tag add_review_path, :method => :get, remote: true, :id=> "review_form" do %>
          <%= hidden_field_tag 'product_id', @product.id %>
          <%= hidden_field_tag 'user_id', spree_current_user.id %>
          <%= text_area_tag :body, nil, :cols => "35", :rows => "5", :class => 'title', :placeholder =>"Add Review", :style => "" %><br><br>
          <%= submit_tag "Submit", :class => "small primary", :style => "" %>
          <%= button_tag "Cancel", :class => "small primary", :id => "close_form" %>
        <% end %>
      </div>
    </div>
  <% end %>  

 

  <div id="flash_review_messages" style="dispaly:none;">
  </div>
</div>        

<script>
$( document ).ready(function() {
  $("#flash_review_messages").hide();
  $('#star').raty({
    readOnly: true,
    score: <%= @product.average_rating %>,
    path: '/assets'
  });

  $('#user_star').raty({
    score: <%= @rating.score %> ,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id  if !@rating.blank? %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });

  $("#edit_icon").on('click', function(){
    $("#add_review").show();
  });

  $("#close_form").on('click', function(){
    $("#add_review").hide();
    $("#flash_review_messages").hide();
    $("#body").val('')
    return false;  
  });

  $("#review_form").on('submit', function(){
    $("#add_review").hide();  
  })

  $("#review_form").on('submit', function(){
    $("#add_review").hide();  
  })
});  
</script>


<style>
.btnReview{
  background: url(/assets/icon-sheet.png) no-repeat;
  width: 40px;
  height: 40px;
  text-indent: 50px;
  overflow: hidden;
  background-position: -149px 13px;
  margin-top: -14px;
  margin-left: 25px;
  cursor: pointer;
}   

.user-rating{
  margin-top: -56px;
  margin-left: 27%;
}

.review-div{
  margin-top: -49px;
  margin-left: 72%;
}

.total-review-div{
  margin-top: -56px;
  margin-left: 50%;
}

#flash_review_messages{
  background-color: #739c3e;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}


.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
</style>