<div id="compare_container" data-hook="" class="container" style="margin-top: 3%;">
	<% if not @product.blank? && @product1.blank? %>
		<h6 class="product-section-head"><%= Spree.t(:compare) %>
			<% @product.each do |product1| %>
			 	<%= product1.name %>
			<% end %> <%= Spree.t(:and) %>  
			
			<% @product1.each do |product1|%>
			 	<%= product1.name %>
			<% end %>
		</h6>
		<div class="section group" style="margin-top: 3%;">
			<% @product.each do |product| %>
				<div class=" col span_1_of_3"style="">
					<%= link_to product_image(product), product %>
					<h6 class=""><%= link_to truncate(product.name, :length => 50), product, :class => 'product-name', :title => product.name %></h6><br>
					<div class="price selling "><%= product.display_price %></div>
			    <%= render :partial => 'spree/shared/properties_first' %>
				</div>		
			<% end %>

			<% @product1.each do |product| %>
				<div class=" col span_3_of_3">
				  <%= link_to product_image(product), product %>
				  <h6 class=""><%= link_to truncate(product.name, :length => 50), product, :class => 'product-name', :title => product.name %></h6><br>
				  <div class="price selling "><%= product.display_price %></div>
				    <%= render :partial => 'spree/shared/properties_second' %>
				</div>
			<% end %>
	  </div>		
	<% end %>	
</div>

