<div id="compare_container" data-hook="" class="container">
	<% if not @product.blank? && @product1.blank? %>
		<h6 class="product-section-head">Compare
			<% @product.each do |product1| %>
			 	<%= product1.name %>
			<% end %>  And  
			
			<% @product1.each do |product1|%>
			 	<%= product1.name %>
			<% end %>
		</h6>
		<div style="margin-top: 10%;">
			<% @product.each do |product| %>
			<div class="first_product"style="">
				<%= link_to product_image(product), product %>
				<div>
				<%= link_to truncate(product.name, :length => 50), product, :class => 'product-name', :title => product.name %><br>
				<span class="price selling "><%= product.display_price %></span>
				</div>
			</div>		
			<% end %>

			<% @product1.each do |product| %>
			<div>
				<div class="">
				  <%= link_to product_image(product), product %>
				</div>
				<%= link_to truncate(product.name, :length => 50), product, :class => 'product-name', :title => product.name %><br>
				<span class="price selling "><%= product.display_price %></span>
			</div>
			<% end %>
	  </div>		
	<% end %>	
</div>


<style>
.product-section-head
{color: #ff9600;
margin-bottom: 16px;
font-size: 25px;
}

.first_product{
	float: left;
	margin-left: 147px;
}
</style>