<div id="wrapper" data-hook="" class="container">
  <div class="bx-wrapper slider-pager"></div>
  <div id="content" class="columns sixteen" data-hook="">
    <div id="welcome-message">
      <div class="container">
        <% if @products.blank? %>
          <%= form_tag find_matched_path, :method => :get, remote: true, :id => "compare_product" do %>
            <h2 class="product-section-head"style="float: left; margin-top: -45px;"><%= Spree.t(:compare_product) %> </h2>
            <div class="alpha six columns">
              <h3 style="text-align: left;"><%= Spree.t(:first_product) %></h3>
              <div class="field hide_me" style="margin-top:-10px;  margin-left: -30px;">
                <%= select_tag 'taxonomy', options_for_select(@taxonomies.collect{ |c| [c.name, c.id] }),  :class => '',:prompt => "Select Category" %>
              </div>
              <div class="field hide_me" style="margin-top:-30px; float: left; margin-left: -55px;" id="texon_list">
                
              </div>
              <div class="field" style="margin-top: 10%; text-align: left; margin-left: -55px;" id="product_list">
               
              </div>
            </div>  
            <div class="omega six columns">
              <h3 style="text-align: left;"><%= Spree.t(:second_product) %></h3>
              <div class="field hide_me" style="margin-top:-10px; margin-left: -30px;">
                <%= select_tag 'taxonomy1', options_for_select(@taxonomies.collect{ |c| [c.name, c.id] }),  :class => '',:prompt => "Select Category" %>
              </div>
              <div class="field hide_me" style="margin-top:-30px; float: left; margin-left: -55px;" id="texon_list_sec">
              </div>
              <div class="field" style="margin-top: 10%; text-align: left; margin-left: -55px;" id="product_list1">
                
              </div>
            </div>  
            <%= submit_tag "Compare", :class => "large primary btn-compare", :style=>"background-color: #4ab5e3 !important;" %>
          <% end %>
          <% else %>
          <%= link_to_function "Back", "history.back()", :class => "back-url" %>
           <span style="float: left; margin-top: -5%;"><h6 class="product-section-head"><%= Spree.t(:compare_product) %></h6></span>
           <div id="compare_container" data-hook="" class="container"> 
            <% @main_product.each do |product| %>
              <div class="product_compare col span_1_of_3"style="">
                <h6 class="product-section-head"><%= link_to truncate(product.name, :length => 50), product, :class => 'product-name', :title => product.name %></h6><br>
                <%= link_to product_image(product), product %>
                <div class="price selling "><%= product.display_price %></div>
                <%= render :partial => 'spree/shared/product_properties' %>
              </div>
            <% end %>
            <% @products.each_with_index do |product, index| %>
              <div class="product_compare col span_1_of_3"style="">
                <h6 class="product-section-head"><%= link_to truncate(product.name, :length => 50), product, :class => 'product-name', :title => product.name %></h6><br>
                <%= link_to product_image(product), product %>
                <div class="price selling "><%= product.display_price %></div>
                <%= render :partial => 'spree/shared/product_properties' %>
              </div>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>  
</div>
<div id="compare_container" data-hook="" class="container">
  <% if not @product.blank? && @product1.blank? %>
    <h6 class="product-section-head">Compare
      <% @product.each do |product1| %>
        <%= product1.name %>
      <% end %> <%= Spree.t(:and) %>  
      
      <% @product1.each do |product1|%>
        <%= product1.name %>
      <% end %>
    </h6>
    <div class="section group" style="margin-top: 5%;">
      <% @product.each do |product| %>
        <div class=" col span_1_of_3"style="">
          <h6 class="product-section-head"><%= link_to truncate(product.name, :length => 50), product, :class => 'product-name', :title => product.name %></h6><br>
          <%= link_to product_image(product), product %>
          <div class="price selling "><%= product.display_price %></div>
          <%= render :partial => 'spree/shared/properties_first' %>
        </div>    
      <% end %>

      <% @product1.each do |product| %>
        <div class=" col span_3_of_3">
          <h6 class="product-section-head"><%= link_to truncate(product.name, :length => 50), product, :class => 'product-name', :title => product.name %></h6><br>
          <%= link_to product_image(product), product %>
          <div class="price selling "><%= product.display_price %></div>
            <%= render :partial => 'spree/shared/properties_second' %>
        </div>
      <% end %>
    </div>    
  <% end %> 
</div>
<script>
$( document ).ready(function() {
  $("#taxonomy").on("change", function(){
    var texonomy_id = $(this).val(),
      url = "/find_texons";
    $.ajax({
      type: "get",
      url: url,
      data: { texonomy_id: texonomy_id},
      success: function (data) {
        $("#texon_list").html(data)
      }
    })
  })

  $("#texon_list").on("change", "#taxon_id", function(){
    var texon_id = $(this).val(),
      url = "/find_products";
    $.ajax({
      type: "get",
      url: url,
      data: { texon_id: texon_id},
      success: function (data) {
        $('#product_list').html(data)
      }
    })
  })

  $("#taxonomy1").on("change", function(){
    var texonomy_id = $(this).val(),
      url = "/find_2_texons";
    $.ajax({
      type: "get",
      url: url,
      data: { texonomy_id1: texonomy_id},
      success: function (data) {
        $('#texon_list_sec').html(data)
      }
    })
  })

  $("#texon_list_sec").on("change", "#taxon_id2", function(){
    var texon_id = $(this).val(),
      url = "/find_2_products";
    $.ajax({
      type: "get",
      url: url,
      data: { texon_id: texon_id},
      success: function (data) {
        $('#product_list1').html(data)
      }
    })
  })

  $( "#compare_product" ).submit(function() {
    var taxon_id = $("#taxon_id").val(),
        taxon_id2 = $("#taxon_id2").val(),
        product_id = $("#product_id").val(),
        product_sec = $("#product_sec").val(),
        url = "/find_matched";
    if(product_id == "" || product_sec == ""){
      alert("Please Select Product")
      return false;
    }

    if(taxon_id =="" || taxon_id2 == ""){
      alert("Please Select Brand")
      return false;
    }    
    $.ajax({
      type: "get",
      url: url,
      data: {taxon_id: taxon_id, taxon_id2: taxon_id2, product_id: product_id, product_sec:product_sec},
      success: function (data) {
        $("#compare_container").html(data)
      }
    })
  })
});
</script>
