<div id="wrapper" data-hook="" class="container">
  <div class="bx-wrapper slider-pager"></div>
  <div id="content" class="columns sixteen" data-hook="">
    <div id="welcome-message">
      <div class="container">
        <%= form_tag find_matched_path, :method => :post, remote: true do %>
          <h2 style="float: left; margin-top: -45px;">Compare Products </h2>
          <div class="alpha six columns">
            <h3 style="text-align: left;">First Product <h3>
            <div class="field">
              <%= select_tag 'taxonomy', options_for_select(@taxonomies.collect{ |c| [c.name, c.id] }),  :class => '',:prompt => "Select Category" %>
            </div>
            <div class="field" style="margin-top:10px; float: left;" id="texon_list">
              <%#= select_tag 'texon', "",:class=> "", :prompt => "" %>
            </div>
             <div class="field" style="margin-top:10px;" id="product_list">
              
            </div>
          </div>  
          <div class="omega six columns">
            <h3 style="text-align: left;">Second Product <h3>
            <div class="field">
              <%= select_tag 'taxonomy1', options_for_select(@taxonomies.collect{ |c| [c.name, c.id] }),  :class => '',:prompt => "Select Category" %>
            </div>
            <div class="field" style="margin-top:10px;">
              <%= select_tag 'texon1', options_for_select(@brands.collect{ |c| [c.name, c.id] }), :prompt => "Select Brand" %>
            </div>
             <div class="field" style="margin-top:10px;">
              <%= select_tag 'product1', options_for_select(@products.collect{ |c| [c.name] }), :prompt => "Select Product" %>
            </div>
          </div>  
          <%= submit_tag "Compare", :class => "large primary", :style => "margin-top:10px;" %>
        <% end %>
      </div>
    </div>
  </div>  
</div>

<script>
$( document ).ready(function() {
  $("#taxonomy").on("change", function(){
    var texonomy_id = $(this).val(),
      url = "/find_texons";
    $.ajax({
      type: "get",
      url: url,
      data: { texonomy_id: texonomy_id},
      success: function (data) {
        $("#texon_list").html(data)
      }
    })
  })

  $("#texon").on("change", function(){
    alert(1)
    var texon_id = $(this).val(),
      url = "/find_products";
    $.ajax({
      type: "get",
      url: url,
      data: { texon_id: texon_id},
      success: function (data) {
        $("#product_list").html(data)
      }
    })
  })
});
</script>






<style>
  
</style>                                                               