<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= form_tag listing_product_path, :method => :get, :id => 'sidebar_products_search' do %>
    
    <% if "spree/products" == params[:controller] && @taxon %>
      <%= render :partial => 'spree/shared/filters' %>
    <% else %>
      <%= render :partial => 'spree/shared/taxonomies' %>
    <% end %>
    <%= submit_tag Spree.t(:search), :name => nil %>
    <% end %>
  </div>
<% end %>


<div data-hook="search_results">
  <% if @filtered_products.blank? %>
    <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
  <% else %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @filtered_products, :taxon => @taxon } %>
  <% end %>
</div>
  