<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= form_tag listing_product_path, :method => :get, :id => 'sidebar_products_search' do %>
    
    <% if "spree/products" == params[:controller] && @taxon %>
      <%= render :partial => 'spree/shared/filters' %>
    <% else %>
      <%= render :partial => 'spree/shared/taxonomies' %>
    <% end %>
    <%= submit_tag Spree.t(:search), :name => nil %>
    <% end %>
  </div>
<% end %>




<% if params[:keywords] %>

  <div data-hook="search_results">
    <% if @products.empty? %>
      <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
    <% else %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    <% end %>
  </div>

<% else %>

  <div data-hook="homepage_products">
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
  </div>
<% end %>

<style>
.product-image a {
-webkit-border-radius: 145px;
-moz-border-radius: 145px;
-ms-border-radius: 145px;
-o-border-radius: 145px;
border-radius: 216px;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
float: left;
display: block;
position: relative;
display: block;
background-color: white;
border: 2px solid #b1d08a;
padding: 27px;
overflow: hidden;
}
</style>
